<launch>
    <arg name="port" default=""/>
    <arg name="baud" default="4800"/>
    <arg name="sample" default="5.0"/>
    <node name="driver" pkg="gps_driver" type="driver.py">
        <param name="port" type="string" value="$(arg port)"/>
        <param name="baudrate" type="int" value="$(arg baud)"/>
        <param name="sampling_rate" type="double" value="$(arg sample)"/>
    </node>
</launch>
